python-jose[cryptography]
mlinsightlab==0.0.18
fastapi[standard]
uvicorn[standard]
python-multipart
transformers
bitsandbytes
torchvision
argon2-cffi
accelerate
tensorflow
pydantic
tf-keras
mlflow
psutil
docker
torch
lz4
